# Ignore node_modules and build directories
node_modules
build
dist

# Ignore environment files
.env

# Ignore Docker files
Dockerfile
.dockerignore

# Ignore logs
*.log

# Ignore temporary files
*.tmp
*.temp

# Ignore coverage reports
coverage

# Ignore IDE specific files
.vscode
.idea
*.swp
*.swo